<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-3"></div>
        <div class="text-center">
          <span style="font-size:70px;">VISITORS</span>
        <div class="p-3"></div>
          <p>本アプリは一人旅を通じて利用者、観光業界ともに需要をもたらすことを目的として作られた一人旅計画管理アプリです</p><br />
          <p>旅先で実際に泊まった宿を投稿・公開したり、</p>
          <p>一人旅行に向けた旅行計画を立てることができます</p><br />
          <p>投稿一覧の閲覧は可能ですが、投稿や詳細の閲覧などができない為</p>
          <p>本アプリを使用する際は、新規登録かログインが必要になります</p><br />
          <p>ソーシャルログイン機能を実装しているため、</p>
          <p>Googleの既存のアカウントからログインすることが出来ます</p>
        </div>
      </div>
    </div>
  </div>
</main>