<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <p class="text-center">
          <span style="font-size:70px;">VISITORS</span>
        </p>
        <center>本アプリは一人旅を通じて利用者、観光業界ともに需要をもたらすことを目的として作られた一人旅計画管理アプリです</center>
        </br>
        <center>旅先で実際に泊まった宿を共有又は投稿したり、</center>
        <center>一人旅行に向けた旅行計画を立てることができます</center>
        </br>
        <center>投稿一覧の閲覧は可能ですが、投稿などができない為</center>
        <center>本アプリを使用する際は、新規登録かログインが必要になります</center>
        </br>
        <center>ソーシャルログイン機能を実装しているため、</center>
        <center>Googleの既存のアカウントからログインすることが出来ます</center>
      </div>
    </div>
  </div>
</main>