<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <div class="text-center">
          <p style="font-size:30px;">本アプリから退会します。よろしいですか？</p>
        </div>
        <br />
        <div class="text-center">
          <%= link_to " 退会しない", my_page_path, class: "btn btn-primary shadow fas fa-reply" %>
          <%= link_to " 退会する", withdraw_path(@user), method: :patch, class: "btn btn-danger shadow fas fa-sign-out-alt", "data-confirm" => "本アプリから退会します。よろしいですか？" %>
        </div>
      </div>
    </div>
  </div>
</main>