<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <div class="p-5"></div>
        <p class="text-center">
          <b style="font-size:30px;">(<%= @user.name %>)さんを退会させます。よろしいですか？</b>
        </p>
        </br>
        <p class="text-center">
          <%= link_to "退会しない", admin_users_path, class: "btn btn-primary" %>
          <%= link_to "退会させる", admin_withdraw_path(@customer), method: :patch, "data-confirm" => "本当に退会しますか?", class: "btn btn-danger" %>
        </p>
      </div>
    </div>
  </div>
</main>