<main class="mt-5">
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p-5"></div>
        <div class="p-5"></div>
        <div class="text-center">
          <b style="font-size:30px;"><%= @user.name %>さんを退会させます。よろしいですか？</b>
        </div>
        <br />
        <div class="text-center">
          <%= link_to " 退会しない", admin_users_path, class: "btn btn-primary shadow fas fa-reply" %>
          <%= link_to " 退会させる", admin_path(@user), method: :patch, "data-confirm" => "本アプリから退会させます。よろしいですか？", class: "btn btn-danger shadow fas fa-sign-out-alt" %>
        </div>
      </div>
    </div>
  </div>
</main>